*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
}



.banner-bg{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('./assets/img/Banner2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  position: relative;
}

.banner-bg::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}


.hero-bg{
 background-color: #11aab8;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.hero .content {
  padding: 1.4rem  7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
  line-height: 1.2;
}



.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
  text-align: justify;
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0.5rem;
}

/* Di dalam file CSS Anda */
.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Sesuaikan sesuai dengan posisi yang Anda inginkan */
  right: 20px; /* Sesuaikan sesuai dengan posisi yang Anda inginkan */
  z-index: 1000; /* Pastikan z-index lebih tinggi dari elemen lain di halaman */
}

.whatsapp-icon a {
  display: inline-block;
  background-color: #25d366; /* Warna hijau WhatsApp */
  padding: 0px 10px 0px 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.whatsapp-icon a:hover {
  background-color: #128c7e; /* Warna hijau WhatsApp saat dihover */
}

.whatsapp-icon i {
  color: white; /* Warna ikon menjadi putih */
  font-size: 36px; 
}
.img-about {
  height: 150px;
  width: 150px;
}
.sub-about{
  text-align: justify;
}


@media (max-width: 1366px) {
  html{
    font-size: 90%;
  }
  .img-about {
    height: 110px;
    width: 110px;
  }
}
@media (max-width: 768px) {
  html{
    font-size: 69%;
  }
  .img-about {
    height: 80px;
    width: 80px;size: 90%;
  }

}
@media (max-width: 450px) {
  html{
    font-size: 55%;
  }
  .img-about {
    height: 40px;
    width: 40px;
  }
}

